body
{
	background-color: #2F3336 !important;
	color: #efefef !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 17px !important;
}

h1
{
	font-size: 36px;
	font-weight: 400;
	color: #C0D06F;
	margin: 20px;
}

.jumpers
{
	text-align: center;
}

.jumpers img
{
	width: 100%;
	height: auto;
}


.navbar{
  min-height: 57px;
}

.bg-jumpers{

  background-color: #91a33b !important;
}
